<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You koti <%= @user.email %>!</h1>
    <p>Sorry to have customers like you!</p>
  </body>
</html>