<h1>Profile#show</h1>
<p>Find me in app/views/profile/show.html.erb</p>

<h3>Hello <%= @user.email %></h3>
<h4> Your personal information </h4>

<p> Gender : <%=@user.gender %> </p>
<p> First Name : <%=@user.first_name %> </p>
<p> Last Name : <%=@user.last_name %> </p>

